.page {
  width: 100%;
  min-width: 351px;
  height: 100dvh;

  display: flex;
  flex-direction: column;

  &__contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include desktop {
      padding-top: 3rem;
    }

    &__dataSection {
      width: 100%;
      height: 60%;
      padding: 1rem;
      gap: 1rem;

      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;

      &__etcContainer {
        width: 100%;
        height: 60%;

        gap: 1rem;

        display: flex;
        flex-direction: row;
        align-items: center;
      }
    }

    &__creditSection {
      display: none;
    }

    @include desktop {
      &__dataSection {
        width: 80%;
        height: 25rem;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;

        padding: 1rem;
        gap: 1rem;

        &__etcContainer {
          width: 65%;
          height: 100%;

          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          gap: 1rem;
        }
      }

      &__creditSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex: none;

        width: 100%;
        height: 15rem;

        background-color: $color-gray-200;

        &__contents {
          width: 80%;
          display: flex;
          flex-direction: row;
          gap: 3rem;

          &__item {
            font-weight: lighter;
            font-size: smaller;

            cursor: pointer;
          }
        }
      }
    }
  }
}

@include desktop {
  .page__contents > * {
    flex-shrink: 0; // ← 이 한 줄이면 세 섹션이 더 이상 눌리지 않음
  }
}
